* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#videos {
    background-color: black;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}

.video-player {
    background-color: black;
    height: 100%;
    transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
}

#user-2 {
    display: none;
}

.small-frame {
    position: fixed;
    top: 20px;
    left: 20px;
    height: 170px;
    width: 302px;
    border-radius: 5px;
    border: 2px solid #b366f9;
    -webkit-box-shadow: 3px 3px 15px -1px rgba(0, 0, 0, 0.77);
    box-shadow: 3px 3px 15px -1px rgba(0, 0, 0, 0.77);
    z-index: 999;
}

#controls {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1em;
}

.control-container {
    background-color: rgb(179, 108, 249, .9);
    padding: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.control-container img {
    height: 30px;
    width: 30px;
}

#leave-btn {
    background-color: rgb(255, 80, 80, 1);
}

#mic-btn:hover,
#camera-btn:hover,
#leave-btn:hover {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.90);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 600px) {
    .small-frame {
        height: 80px;
        width: 120px;
    }

    .control-container img {
        height: 20px;
        width: 20px;
    }

    .control-container {
        padding: 10px;
    }
}